<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gerenciador de senhas
    </ion-title>
    <ion-toolbar>
      <ion-searchbar placeholder="Pesquisar senhas" animated></ion-searchbar>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class='ion-padding'>
  <div class='container'>
    <div class='searchable-items'>
      <ion-item *ngFor="let item of senhas">
        <ion-label>
          <h2>{{  item.nome  }}</h2>
          <h3>{{  item.login  }}</h3>
          <h3>{{  item.senha  }}</h3>
        </ion-label>
        <ion-icon name="trash-outline" (click)="excluir(item.id)" slot="end"></ion-icon>
      </ion-item>
     </div> 
    
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"  (click)="openModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
